.about {
  margin: 150px 9% 0 0;
  height: 510px;
}
.about-title {
  margin-left: 12%;
  font-size: 40px;
  color: #882802;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.about-block {
  position: relative;
}
.about-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  background-size: 100%;
  background-color: #F8EAE5;
  display: flex;
  align-items: center;
  padding: 30px 30px 30px 12%;
}
.about-messages-wrapper{
  flex: 1 1 auto;
  margin: 0 auto;
  margin-right: 50px;
  align-self: flex-start;
  margin-top: 30px;
}
.about-image {
  flex: 1 1 auto;
  height: 320px;
}
.about-message-body {
  line-height: 28.8px;
}

@media screen and (max-width: 745px) {
  .about-wrapper {
    flex-direction: column-reverse;
    padding: 30px 20px 30px;
  }
  .about-messages-wrapper {
    margin: 30px 0 0 0;
  }
  .about {
    height: 710px;
    margin: 130px 0 0 0;
  }
  .about-title {
    margin: 0 0 10px 20px;
    font-size: 24px;
  }
  .about-image {
    width: 100%;
    height: auto;
  }
}