.online-store {
  margin-left: 9%;
  margin-top: 100px;
  height: 470px;
}
.online-store-title {
  text-align: left;
  color: #882802;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.online-block {
  position: relative;
}
.online-img-wrapper {
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  background: url('https://firebasestorage.googleapis.com/v0/b/motsunabe-2020.appspot.com/o/meat1.png?alt=media&token=9f895529-eec6-4b5d-9e01-953f5edcb286') no-repeat center;
  background-size: cover;
  height: 385px;
  display: flex;
  align-items: center;
  box-shadow:inset 0 0 0 2000px rgba(7, 6, 6, 0.3);
}
.messages-wrapper {
  max-width: 570px;
  flex: 0 1 auto;
  margin: 0 20px;
  width: 570;
}
.messages {
  color: white;
  text-align: left;
}
.online-store-button {
  color: white;
  display: block;
  text-align: center;
  width: 160px;
  margin-left: auto;
  margin-top: 70px;
  background-color: #DD480D;
  padding: 5px;
  border-radius: 30px;
  text-decoration: none;
}

@media screen and (max-width: 745px) {
  .online-store {
    margin: 100px 0 0 0;
    height: 470px;
  }
  .online-store-title {
    margin: 0 0 10px 20px;
  }
}