.header {
  max-width: 1050px;
  margin: 0 auto;
  color: #882802;
  font-family: "Hiragino Sans"; 
}
.menu-bar {
  display: flex;
  margin: 10px 0px 0px;
  align-items: center;
}
.header-title {
  margin: 0 9% 0 0;
  flex: 0 0 auto;
}
.menu-items {
  flex: 0 0 380px;
  text-align: end;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.menu-item {
  flex: 1 0 auto;
}
.sliderimg {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.slider-img {
  width: 100%;
  height: 400px;
}
.hamberger-menu {
  display: none;
}

@media only screen and (max-width: 745px) {
  .menu-items {
    display: none;
  }
  .hamberger-menu {
    display: block;
    flex: 0 0 auto;
    margin-left: auto;
    margin-right: 10px;
    fill: #882802;
  }
  .header-title {
    margin: 0 9% 0 10px;
  }
}