.header {
  max-width: 1550px;
  margin: 0 auto;
  color: #882802;
  font-family: "Hiragino Sans"; 
}
.menu-bar {
  display: flex;
  margin: 30px 0 15px;
  align-items: center;
}
.header-title {
  margin: 0 9% 0 0;
  flex: 0 0 auto;
  font-size: 32px;
}
.menu-items {
  flex: 0 0 380px;
  text-align: end;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.menu-item {
  flex: 1 0 auto;
}
.sliderimg {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.alice-carousel {
  text-align: center;
}
.slider-img {
  width: 95%;
  height: 100%;
}
.hamberger-menu {
  display: none;
}

@media only screen and (max-width: 745px) {
  .menu-items {
    display: none;
  }
  .header-title {
    font-size: 22px;
  }
  .hamberger-menu {
    display: block;
    flex: 0 0 auto;
    margin-left: auto;
    margin-right: 10px;
    fill: #882802;
    cursor: pointer;
  }
  .header-title {
    margin: 0 9% 0 20px;
  }
  .smartphone-menu-wrapper {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    color: white;
    background-color: #6B2737;
  }
  .smartphone-menu-bar {
    display: flex;
    align-items: baseline;
  }
  .smartphone-menu-bar {
    flex: 0 0 auto;
    margin: 10px 0px 0px;
  }
  .close-button {
    margin-left: auto;
    margin-right: 10px;
    fill: white;
  }
  .menu-bar {
    margin: 10px 0;
  }
  .mobile-menu-items-wrapper {
    margin-top: 80px;
    line-height: 2.5;
  }
  .mobile-menu-link {
    text-decoration: none;
    color: white;
  }
  .slider-img {
    width: 100%;
  }
}